.actionBoard {
    display: flex;
    display: -webkit-box;
    margin-bottom: 3px;
    border: 1px dashed black;
    padding: 2px;
}

.actionBox {
    width: 68px;
    height: 40px;
    border: 1px dashed black;
    padding: 3px;
}

.saikoro {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    padding: 2px;
    font-family: Meiryo;
    font-size: 7pt;
    letter-spacing : -2px;
    line-height : 8px;
}

.playerName {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    width: 64px;
}

.hitPoint {
    display: inline-block;
    width: 44px;
    text-align: right;
}

.selected_attack {
    border: 4px solid blue;
    padding: 0px;
}

.selected_defense {
    border: 4px solid green;
    padding: 0px;
}
